@page "/"

<div style="margin:auto;width:80%;height:100%;position:relative">
    <canvas style="width:100%;height:100%" id="theHtml5Canvas"></canvas>
    <button onclick="@Refresh" style="position:absolute;top:0;left:0">Hello, Canvas!</button>
</div>

@functions{
    public void Refresh()
    {
        this.StateHasChanged();
    }

    protected override void OnAfterRender()
    {
        base.OnAfterRender();

        Canvas2d dc = new Canvas2d("theHtml5Canvas");
        dc.Size2Client(Refresh);
        dc.ResetInvokeTimes();
        int old = System.Environment.TickCount;
        dc.ClearRect(0, 0, dc.Width, dc.Height);
        Random rdm = new Random(old);
        Func<string> getRandomStyle = () => $"rgba({rdm.Next(0, 255)}, {rdm.Next(0, 255)}, {rdm.Next(0, 255)}, 1)";
        for (int ind = 0; ind < 100; ind++)
        {
            dc.FillStyle = getRandomStyle();
            int x = rdm.Next(0, dc.Width);
            int y = rdm.Next(0, dc.Height);
            int w = rdm.Next(0, dc.Width - x);
            int h = rdm.Next(0, dc.Height - y);
            dc.FillRect(x, y, w, h);
        }
        for (int ind = 0; ind < 100; ind++)
        {
            dc.StrokeStyle = getRandomStyle();
            int x1 = rdm.Next(0, dc.Width);
            int y1 = rdm.Next(0, dc.Height);
            int x2 = rdm.Next(0, dc.Width);
            int y2 = rdm.Next(0, dc.Height);
            dc.DrawLine(x1, y1, x2, y2);
        }
        System.Console.WriteLine("Draw time: " + (System.Environment.TickCount - old));
        dc.DumpInvokeTimes();
    }
}
