@page "/"

<div style="margin:auto;width:80%;height:100%;position:relative">
    <canvas style="width:100%;height:100%" id="theHtml5Canvas"></canvas>
    <button onclick="@Refresh" style="position:absolute;top:0;left:0">Hello, Canvas!</button>
</div>

@functions{
    private int _drawTime = 0;

    public void Refresh()
    {
        this.StateHasChanged();
    }

    protected override void OnAfterRender()
    {
        base.OnAfterRender();

        //create the canvas 2d context by the id of HTML canvas.
        Canvas2d dc = new Canvas2d("theHtml5Canvas");

        //fit canvas to control, and register Refresh to window.Resize
        dc.Size2Client(Refresh);

        dc.ResetInvokeTimes();
        int old = System.Environment.TickCount;
        dc.ClearRect(0, 0, dc.Width, dc.Height);
        Random rdm = new Random(old);
        Func<string> getRandomStyle = () => $"rgba({rdm.Next(0, 255)}, {rdm.Next(0, 255)}, {rdm.Next(0, 255)}, 1)";

        //fill some random rects
        for (int ind = 0; ind < 100; ind++)
        {
            dc.FillStyle = getRandomStyle();
            int x = rdm.Next(0, dc.Width);
            int y = rdm.Next(0, dc.Height);
            int w = rdm.Next(0, dc.Width - x);
            int h = rdm.Next(0, dc.Height - y);
            dc.FillRect(x, y, w, h);
        }

        //draw some random lines with the extended DrawLine method
        for (int ind = 0; ind < 100; ind++)
        {
            dc.StrokeStyle = getRandomStyle();
            dc.LineWidth = (float)(rdm.NextDouble() * 5);
            dc.LineCap = (LineCap)rdm.Next(0, 3);
            int x1 = rdm.Next(0, dc.Width);
            int y1 = rdm.Next(0, dc.Height);
            int x2 = rdm.Next(0, dc.Width);
            int y2 = rdm.Next(0, dc.Height);
            dc.DrawLine(x1, y1, x2, y2);
        }

        //draw some text at the center point
        string text = "Abcdefghijklmnopqrstuvwxyz";
        float fontSize = 36.0f;
        dc.Font = $"bold {fontSize}px Verdana";
        dc.TextAlign = TextAlign.Center;
        dc.TextBaseline = TextBaseline.Middle;
        float textWidth = dc.MeasureText(text);
        float centerX = dc.Width / 2;
        float centerY = dc.Height / 2;
        //dc.ClearRect(centerX - textWidth / 2, centerY - fontSize / 2, textWidth, fontSize);
        dc.FillStyle = "skyblue";
        dc.GlobalAlpha = 0.75f;
        dc.FillText(text, centerX, centerY);
        dc.GlobalAlpha = 1.0f;

        //test CompositeOperation
        if (_drawTime > 5)
        {
            CompositeOperation co = (CompositeOperation)rdm.Next(0, (int)CompositeOperation.Luminosity);
            dc.GlobalCompositeOperation = co;
            dc.FillText(text, centerX, centerY + fontSize + 5);
            dc.GlobalCompositeOperation = CompositeOperation.Source_Over;
            dc.FillText("Composite: " + co.ToString(), centerX, centerY + (fontSize + 5) * 2);
        }

        //test properties
        //Console.WriteLine("ImageSmoothingEnabled:" + dc.ImageSmoothingEnabled.ToString());
        //dc.ImageSmoothingEnabled = false;
        //Console.WriteLine("ImageSmoothingEnabled:" + dc.ImageSmoothingEnabled.ToString());
        //Console.WriteLine("MiterLimit:" + dc.MiterLimit.ToString());
        //dc.MiterLimit = 5.0f;
        //Console.WriteLine("MiterLimit:" + dc.MiterLimit.ToString());
        //Canvas2d dc1 = new Canvas2d("theHtml5Canvas");
        //Console.WriteLine("MiterLimit:" + dc1.MiterLimit.ToString());

        //dump the timespan and statistics
        System.Console.WriteLine("Draw time: " + (System.Environment.TickCount - old));
        //dc.DumpInvokeTimes();

        _drawTime++;
    }
}
